<%= form_for recycle_point do |f| %>
  <div class="columns is-mobile">
    <div class="column">
      <div class="field">
        <%= f.label "Nombre", class: "label" %>
        <p class="control">
          <%= f.text_field :name, class: "input" %>
        </p>
      </div>

      <div class="field">
        <%= f.label "Dirección", class: "label" %>
        <p class="control">
          <%= f.text_field :address, class: "input" %>
        </p>
      </div>

      <div class="field">
        <%= f.label "Teléfono", class: "label" %>
        <p class="control">
          <%= f.text_field :phone_number, class: "input" %>
        </p>
      </div>

      <div class="field">
        <%= f.label "Costo / Recompenza", class: "label" %>
        <p class="control">
          <%= f.number_field :price, class: "input" %>
        </p>
      </div>
    </div>

    <div class="column">
      <div class="field">
        <%= f.label "Material", class: "label" %>
        <div class="select is-fullwidth">
          <%= f.select :material_id, options_from_collection_for_select(Material.all, "id", "name") %>
        </div>
      </div>

      <div class="field">
        <%= f.label "Municipio", class: "label" %>
        <p class="control">
          <%= f.text_field :city, class: "input" %>
        </p>
      </div>

      <div class="field">
        <%= f.label "Horario", class: "label" %>
        <p class="control">
          <%= f.text_field :schedule, class: "input" %>
        </p>
      </div>
      
      <div class="field">
        <%= f.label "Página", class: "label" %>
        <p class="control">
          <%= f.text_field :website, class: "input" %>
        </p>
      </div>
    </div>
  </div>

  <hr>
  <h2 class="title"> Características </h2>

  <label class="label">
    <%= f.radio_button :reward, true, class: "checkbox" %>
    Recompenza
  </label>

  <label class="label">
    <%= f.radio_button :reward, false, class: "checkbox" %>
    Precio
  </label>

  <label class="label">
    <%= f.check_box :delivery, class: "checkbox" %>
    Servicio a Domicilio
  </label>

  <div class="field">
    <p class="control">
      <%= f.submit "Guardar", class: "button is-success" %>
    </p>
  </div>
<% end %>
