<%= form_for recycle_point, data: { controller: "select2" } do |f| %>
  <div class="columns is-mobile">
    <div class="column">
      <div class="field">
        <%= f.label "Nombre", class: "label" %>
        <p class="control">
          <%= f.text_field :name, class: "input" %>
        </p>
      </div>

      <div class="field">
        <%= f.label "Dirección", class: "label" %>
        <p class="control">
          <%= f.text_field :address, class: "input" %>
        </p>
      </div>

      <div class="field">
        <%= f.label "Teléfono", class: "label" %>
        <p class="control">
          <%= f.text_field :phone_number, class: "input" %>
        </p>
      </div>

      <div class="field">
        <%= f.label "Materiales", class: "label" %>
        <div class="control is-fullwidth">
          <%= f.select :material_ids, options_from_collection_for_select(Material.all, "id", "name", recycle_point.material_ids), {}, multiple: true, "data-target": "select2.selectInput", style: "width: 100%;" %>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="field">
        <%= f.label "Municipio", class: "label" %>
        <p class="control">
          <%= f.text_field :city, class: "input" %>
        </p>
      </div>

      <div class="field">
        <%= f.label "Horario", class: "label" %>
        <p class="control">
          <%= f.text_field :schedule, class: "input" %>
        </p>
      </div>
      
      <div class="field">
        <%= f.label "Página", class: "label" %>
        <p class="control">
          <%= f.text_field :website, class: "input" %>
        </p>
      </div>

    </div>
  </div>

  <% if material_id%>
    <hr>
    <h2 class="title"> Características </h2>

    <%= f.fields_for recycle_point.materials_recycle_points.where(material_id: material_id).first do |ff| %>
      <label class="label">
        <%= ff.radio_button :reward, true, class: "checkbox" %>
        Recompenza
      </label>

      <label class="label">
        <%= ff.radio_button :reward, false, class: "checkbox" %>
        Costo
      </label>

      <div class="field">
        <%= ff.label "Costo / Recompenza", class: "label" %>
        <p class="control">
          <%= ff.number_field :price, class: "input" %>
        </p>
      </div>


      <label class="label">
        <%= ff.check_box :delivery, class: "checkbox" %>
        Servicio a Domicilio
      </label>
    <% end %>
  <% end %>

  <div class="field">
    <p class="control">
      <%= f.submit "Guardar", class: "button is-success" %>
    </p>
  </div>
<% end %>
