<div class="card">
  <% if material %>
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p class="title is-4"> <%= material.name %> </p>
        </div>
      </div>

      <div class="content">
        <p> <%= material.description %> </p>

        <% material.categories.each do |category| %>
          <span class="tag <%= category.color %>"> <%= category.name %> </span>
        <% end %>
      </div>


      <% if admin_signed? %>
        <div class="level has-text-centered">
          <%= link_to "Editar", edit_material_path(material), class: "button is-small is-info is-outlined level-item material-action-button" %>
          <%= link_to "Eliminar", material_path(material), method: :delete, data: {confirm: "¿Estás seguro?" }, class: "button is-small is-danger is-outlined level-item material-action-button" %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
